
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');






body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    height: 3000px;
    /* overflow-x: hidden; */
    
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}


.header{
    height: 70px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

button:hover{
    transform: scale(1.2);
    
}

.navbar-list{
    display: flex;
    gap: 40px;
    justify-content: space-around;
   
   margin-right: 30px;
    
    color: black;
    align-items: center;
    list-style: none;
    /* border: 1px solid red; */
}

.navbar-link:link,
.navbar-link:visited{
    display: inline-block;
    text-decoration: none;
    color: black;
}

.header{
    position: relative;
}

.headerlogo{
    width: 22%;
}
.headerlogo>img{
    width: 100%;
    height: 100%;
}

.mobile-navbar-btn{
    display: none;
    background: transparent;
    cursor: pointer;
}

.mobile-nav-icon{
    height: 40px;
    width: 40px;
}
.mobile-nav-icon[name="close-outline"]{
    display: none;
}


/* navbar resume button */

.resumebutton{
    border: 0px;
    background-color: white;
    font-size: large;
    font-weight: 400;
}

/* =======================================================================
responsive funtionlity
======================================================================= */



@media (max-width:800px){

    body{
        overflow-x: hidden;
    }

    /* navbar resume button */
    .resumebutton{
        border: 0px;
        background-color: rgb(53,253,211);
        font-size: large;
        font-weight: 400;
    }

    .mobile-navbar-btn{
        display: block;
        z-index: 999;

        /* border: 2px solid black; */
        
    }

    .navbar{
        /* display: none; */
        width: 100%;
        /* height: 100vh; */
        height: 100%;
        background: rgb(53,253,211);
        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        /* to get trangiction */

        transform: translateX(100%);
        transition: all 0.5s linear;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;


    }

    .navbar-list{
        flex-direction: column;
    }

}

.active .navbar{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"]{
    display: block;
}

.active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"]{
    display: none;
}


.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
}



#home-img{
    width: 100%;
}

#user-detail-name{
   display: none;
}

#about{
    width: 90%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    
}
#about>p{
    font-size: larger;
    text-align: justify;
}

#know-skill{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    
}
#know-skill>div{
    width: 40%;
    
  
}

.hsmall{
    font-size:27px;
}
.bigp{
    text-align: justify;
    font-size: large;
    line-height: 1.5em;
}
.knowmecontact{
    height: 50px;
    width: 150px;
    background-color: rgb(53,253,211);
    color: rgb(63,93,153);
    font-size:large;
    font-weight: 530;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.makebuttonend{
    text-align: end;
}

.skills-card:hover{
    transform: scale(1.2);
}

#cardcontainer{
    display: grid;
    grid-template-columns: repeat(4, 130px);
    justify-content: space-between;
    gap: 10px;
    

}
#cardcontainer>div>img{
    width: 45%;
}
#cardcontainer>div{
    /* border: 1px solid red; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 20%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
}




 #skills{
    margin-right: 35px;
 }

 .project-heading{
    text-align: center;
    margin-top: 8%;
 }
 #projects>div{
    display: flex;
    gap: 10px;
   padding: 10px;
    justify-content: space-between;
    /* border: 2px solid rgb(63,93,153); */
    width: 97%;
    margin: auto;
    margin-top: 5%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    
 }
 .project-image{
    width: 40%;
    /* border: 1px solid red; */
    
    margin-left: 3%;
 }
 .project-image:hover{
    transform: scale(1.2);
 }
 
 .project-image>img{
    width: 100%;
 }
 .project-info{
    text-align: justify;
    width: 60%;
    margin-right: 3%;
 }


 


 .project-info{
   font-size: large;
    /* border: 1px solid red; */
    width: 50%;
 }
 .subhead{
    /* font-size: large; */
    font-weight: bold;
 }
 .btn-div{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    gap: 5%;
    width: 40%;
    margin: auto;
 }

 .p-button{
    

    height: 50px;
    width: auto;
    background-color: rgb(53,253,211);
    color: rgb(63,93,153);
    font-size:large;
    font-weight: 530;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }




 .position-relative{
    margin: auto;
    width: 90%;
    height: 100%;
 }

 #stats{
    margin: auto;
    display: flex;
    /* margin-top: 50px; */
    justify-content:space-around;
    width: 100%;
    
    
 }

 #stats>div{
    /* border: 1px solid blue; */
    width: 40%;
 }

 #stats>:nth-child(1)>img{

    width: 119%;
    
 }

 #stats>:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 10px;
 }

 #stats>:nth-child(2)>img{
    width: 100%;
    
 }

 
 .center{
    text-align: center;
    padding-top: 25px;
    
    
 }


 #github{
    
    width: 97%;
    margin: auto;
    margin-top: 10%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
 }
 #calender{
    margin-top: 5%;
 }



 .contactheading{

    text-align: center;
    margin-top: 8%;
 }
 #contact{

    text-align: center;
    
 }

 

 .calendar {
    font-family: Helvetica, arial;
    border: 0px solid #DDDDDD;
    border-radius: 3px;
    min-height: 243px;
    text-align: center;
    margin: 0 auto;
}



/* ////////////////////////// for image pop-up ///////////////// */



#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }


 /* ///////////////////////   Responsive ////////////////////// */

/* FOR MOBILE */

@media screen and (max-width:1140px){
    #know-skill{
        display: flex;
        flex-direction: column;
    }
    #know-skill>div{
        /* border: 1px solid red; */
        width: 100%;
        text-align: center;
    }

    #cardcontainer{
        display: grid;
        grid-template-columns: repeat(4, 130px);
        justify-content: space-around;
        gap: 30px;
    }
    .bigp{
        padding: 20px;
        /* margin-top: -4%; */
    }
    #tools{
        margin-top: 6%;
    }
    #user-detail{
        margin-top: 10%;
    }
    .makebuttonend{
        text-align: center;
        /* margin-top: -5%; */
    }

}





@media screen and (max-width:830px) {
    #know-skill{
        display: flex;
        flex-direction: column;
    }
    #know-skill>div{
        /* border: 1px solid red; */
        width: 100%;
        
        
        text-align: center;
    }

    /* #knowme{
        width: 100%;
        border: 1px solid red;
    } */

    #cardcontainer{
        display: grid;
        grid-template-columns: repeat(3, 130px);
        justify-content: space-around;
        gap: 10px;
        
    
    }
    .bigp{
        padding: 20px;
        margin-top: -4%;
    }

    /* #skill{
        
    } */

    #about{
    
        width: 100%;
        text-align: center;
        display: block;
        
        margin-top: 8%;
        
    }

    #aboutme>p{
        padding: 20px;
        margin-top: -5%;
    }

    /* navebar gif */
    .headerlogo{
        width: 40%;
    }

    #user-detail{
        margin-top: 15%;
    }
    .makebuttonend{
        text-align: center;
        margin-top: -5%;
    }
    #projecth1{
        margin-top: 17%;
  
    }

    #projects>div{
        display: flex;
        flex-direction: column;
        align-items: center;
       
        
    }
    #projects>div>div{
        width: 95%;
        
        /* padding: 10px;
        border: 3px solid black; */
    }
    .project-image{
        width: 40%;
        /* border: 1px solid red; */
        margin-left: 0%;
       
     }
    /* #project>div>div>img{
        border: 1px solid black;
        width: 100%;
    } */
    .project-info{
        text-align: justify;
        width: 60%;
        margin-right: 0%;
        
       
     }
     #stats{
        display: flex;
        flex-direction: column;
     }
     #stats>div{
        /* border: 1px solid blue; */
        width: 100%;
     }
     #stats>:nth-child(1)>img{

        width: 100%;
        
     }

     .btn-div{
        margin-top: 6%;
        width: 50%;
        /* border: 1px solid red; */
        display: flex;
        justify-content: space-between;
     }

}



@media screen and  (max-width:358px) {

    #cardcontainer{
        display: grid;
        grid-template-columns: repeat(2, 130px);
        justify-content: space-around;
        gap: 30px;
        
        
    
    }
    .headerlogo{
        width: 50%;
    }
    
}
